<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AB_Tipping_Fancy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>944BC90D1CE585B4004D6DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944BC9211CE585B4004D6DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944BC92C1CE585B4004D6DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
